# Distribution / packaging
.Python
*.pyc
/bin/
/share/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/include/
/ssl/
/conda-meta/
# Serverless directories
.serverless
